<!DOCTYPE html>
<html>
<head>
  <title>Pixel Pallette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "rainbow2.gif" %>
      <% end %>
    </div>
    
    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Profile", profile_path %></li>
      <li><%= link_to "Blog", posts_path %></li>
    </ul>

  </div>
  
  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
      <p>All Posts</p>
      <% elsif current_page?(about_path) %>
      <p>About</p>
      <% else %>
      <%= link_to "Back to Home", root_path %>
      <% end %>
      
      <div class="buttons">
      <% if user_signed_in? %>
        <button class="button"><%= link_to "New Post", new_post_path %></button>
        <button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
      <% else %>
        <button class="button"><%= link_to "Sign In", new_user_session_path%></button>
        <button class="button"><%= link_to "Sign Up", new_user_registration_path %></button>
      <% end %>
      </div>
    </div>
    
    <% flash.each do |message_type,message| %>
      <%= content_tag(:div, message, class: "alert") %>
    <% end %>

  <%= yield %>
  </div>


</body>
</html>
